x-traefik-common: &traefik-common
    container_name: traefik
    image: traefik:v2.9
    command:
        - "--log.level=DEBUG"
        - "--api.insecure=true"
        - "--entrypoints.default.address=:${PUBLIC_PORT}"
        - "--certificatesresolvers.letsencrypt.acme.tlschallenge=true"
        - "--certificatesresolvers.letsencrypt.acme.email=${ADMIN_EMAIL}"
        - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
        - "--providers.file.directory=/configuration/"
        - "--providers.file.watch=true"
    volumes:
        - "/var/run/docker.sock:/var/run/docker.sock:ro"
        - ./services/traefik/dynamic.core.yml:/configuration/dynamic.core.yml:ro
        - ./services/traefik/dynamic.yml:/configuration/dynamic.yml:ro
        - "letsencrypt_traefik:/letsencrypt:rw"
    networks:
        - web
    env_file:
        - .env

x-frontend-common: &frontend-common
    volumes:
        - ./app/frontend/app.vue:/app/app.vue:ro
        - ./app/frontend/assets:/app/assets:ro
        - ./app/frontend/components:/app/components:ro
        - ./app/frontend/composables:/app/composables:ro
        - ./app/frontend/config:/app/config:ro
        - ./app/frontend/layouts:/app/layouts:ro
        - ./app/frontend/locales:/app/locales:ro
        - ./app/frontend/middleware:/app/middleware:ro
        - ./app/frontend/pages:/app/pages:ro
        - ./app/frontend/plugins:/app/plugins:ro
        - ./app/frontend/stores:/app/stores:ro
        - ./app/frontend/public:/app/public:ro
        - ./app/frontend/types:/app/types:ro
    environment:
        NUXT_PUBLIC_API_BASE: ${PUBLIC_URL_API}
    networks:
        - web

x-backend-common: &backend-common
  container_name: backend
  build:
    context: ./app/backend
    dockerfile: Dockerfile
    args:
      - DOCKER_USER=${DOCKER_USER}
      - DOCKER_UID=${DOCKER_UID}
      - DOCKER_GID=${DOCKER_GID}
  env_file: .env
  volumes:
    - ./app/backend/src:/app/src
    - ./static:/app/static:rw
  networks:
    - web

services:
    # Traefik reverse proxy (dev)
    traefik-dev:
        <<: *traefik-common
        ports:
            - "${PUBLIC_PORT}:${PUBLIC_PORT}"
            - "8080:8080"
        profiles:
            - dev
            - debug
        environment:
            MODE: DEVELOPMENT

    # Traefik reverse proxy (prod)
    traefik-prod:
        <<: *traefik-common
        ports:
            - "${PUBLIC_PORT}:${PUBLIC_PORT}"
        profiles:
            - prod
        environment:
            MODE: PRODUCTION
        depends_on:
            - frontend-prod-nginx
            - backend-prod
    
    # Static file server
    static:
        container_name: static
        image: nginx:1.26-alpine3.20-perl
        volumes:
            - ./static:/usr/share/nginx/html:ro
        networks:
            - web
        profiles:
            - prod
            - dev
            - debug

    # PostgreSQL database
    db:
        container_name: db
        image: postgres:15.10-alpine3.20
        environment:
            POSTGRES_DB: ${APP_DB_NAME}
            POSTGRES_USER: ${APP_DB_USER}
            POSTGRES_PASSWORD: ${APP_DB_PASSWORD}
        volumes:
            - ./services/db/data:/var/lib/postgresql/data
            - ./services/db/initdb.sql:/docker-entrypoint-initdb.d/init_db.sql
        networks:
            - web

    # Adminer database management tool
    adminer:
        container_name: adminer
        image: adminer
        restart: always
        profiles:
            - prod
            - dev
            - debug
        networks:
            - web
        depends_on:
            - db

    # Backend for Development
    backend-dev:
        <<: *backend-common
        command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "80", "--reload"]
        environment:
            MODE: DEVELOPMENT
        ports:
            - "8082:80"
            - "5679:5679"
        profiles:
            - dev
        depends_on:
            - db

    # Backend for Debugging
    backend-debug:
        <<: *backend-common
        entrypoint: python3 -m debugpy --log-to-stderr --listen 0.0.0.0:5679 --wait-for-client -m
        command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "80", "--reload"]
        environment:
            MODE: DEVELOPMENT
        ports:
            - "8082:80"
            - "5679:5679"
        profiles:
            - debug
        depends_on:
            - db

    # Backend for Production
    backend-prod:
        <<: *backend-common
        command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "80"]
        environment:
            MODE: PRODUCTION
        profiles:
            - prod
        depends_on:
            - db

    # Frontend for development (Nuxt)
    frontend-dev:
        <<: *frontend-common
        container_name: frontend
        build:
            context: ./app/frontend
            dockerfile: Dockerfile.dev
            args:
                - DOCKER_USER=${DOCKER_USER}
                - DOCKER_UID=${DOCKER_UID}
                - DOCKER_GID=${DOCKER_GID}
        networks:
            - web
        profiles:
            - dev
            - debug

    # Frontend for production (Nuxt)
    frontend-prod-node:
        <<: *frontend-common
        container_name: frontend-node
        build:
            context: ./app/frontend
            dockerfile: Dockerfile.prod-node
        profiles:
            - prod
        depends_on:
            - backend-prod

    frontend-prod-nginx:
        container_name: frontend
        build:
            context: ./app/frontend
            dockerfile: Dockerfile.prod-nginx
        profiles:
            - prod
        depends_on:
            - frontend-prod-node
        networks:
            - web

volumes:
    letsencrypt_traefik:

networks:
    web:
        external: false
